 <div class="colors-go-here">


{{!-- ----OLD CODE---- --}}
{{!-- <div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="author-container">
            <h1>Colors</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Color Name</th>
                        <th>Hex</th>
                        <th>Rgb</th>
                        <th>Family</th>
                        <th>Source</th>
                        <th>Likes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="colors-row">

                    </tr>

                    <div class="colors-go-here">
                        
                    </div>
                </tbody>
            </table>
        </div>
    </div>
</div> --}}


<script src="./js/colors.js"></script>